.list-section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h2 {
        font-weight: var(--font-weight-500);
        font-size: var(--size-s);
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 10rem);
        gap: .8rem;

        list-style: none;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-block: .8rem;

        color: var(--dark-gray);
        text-align: center;

        background: var(--light-gray);
        border-radius: .5rem;
    }
}