.property__host {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 34.5rem;
  height: min-content;

  padding: 2.4rem;

  background-color: var(--white);
  border: solid 0.1rem var(--light-gray);
  border-radius: 1rem;

  h2 {
    font-weight: var(--font-weight-500);
    font-size: 1.6rem;
  }

  div {
    display: flex;
    gap: 1.8rem;
    align-items: center;

    padding-block: 1.6rem;

    font-size: 1.6rem;
  }

  img {
    border-radius: 1rem;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    padding: 0.8rem;

    background: var(--light-gray);
    border-radius: 1rem;
  }

  a {
    width: auto;
  }
}

@media (max-width: 768px) {
  .property__host {
    width: auto;
  }
}
